<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error!</title>
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
	<style>
        body {
            font-family: 'Abel', sans-serif;
            font-size: 1.5em;
        }

        img	{
            width: 700px;
            height: 350px;
        }
	</style>
</head>
<body>
<h3>Sorry, there seems to be a problem. We're working on this right now.</h3>
<br>
<img src="https://images.pexels.com/photos/157543/pexels-photo-157543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="vhs">
<a href="/dashboard"><h5>Go to dashboard</h5></a>
</body>
</html>