<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bookmark a movie</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container d-flex flex-row">
		<form class="form-group" th:action="@{/bookmarks/create}" th:method="POST" th:object="${bookmark}">
			<label for="inlineFormInputName"></label>
			<input type="hidden" name="id" class="form-control mb-2 mr-sm-2" id="inlineFormInputName" th:field="*{id}">

			<label for="inlineFormInputName2">Title</label>
			<input type="text" name="title" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" th:field="*{title}">

			<label for="inlineFormInputName3">Year</label>
			<input type="text" name="year" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" th:field="*{year}">

			<label for="inlineFormInputName4">IMDB ID</label>
			<input type="text" name="imdbID" class="form-control mb-2 mr-sm-2" id="inlineFormInputName4" th:field="*{imdbID}">

<!--			<label for="inlineFormInputName5">Poster Link</label>-->
<!--			<input type="text" name="posterLink" class="form-control mb-2 mr-sm-2" id="inlineFormInputName5" th:field="*{posterLink}">-->

			<button type="submit" class="btn btn-primary mb-2 mr-2">Create bookmark!</button>
		</form>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</div>
</body>
</html>