<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bookmarks</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<h4>Are you sure you want to bookmark this movie?</h4>
	<h5>Click box to show movie, then Bookmark!</h5>

<!--	<form id="result">-->
<!--		<span>click to show details</span>-->
		<h6 id="writeImdbID" th:text="${imdbID}">  </h6>
		<h6 id="writePoster" th:text="${posterLink}"> </h6>
		<h6 id="writeTitle" th:text="${title}"> </h6>
		<h6 id="writeYear" th:text="${year}"> </h6>

<!--	</form>-->

	<form class="form-group" th:action="@{/bookmarks/save}" th:method="POST" th:object="${bookmark}">

		<input  type="text" id="imdbID"  th:field="*{imdbID}">

		<input  type="text" id="posterLink" th:field="*{posterLink}">

		<input  type="text" id="title" th:field="*{title}">

<!--		onclick="document.getElementById('imdbID').value=document.getElementById('writeImdbID').textContent;document.getElementById('posterLink').value=document.getElementById('writePoster').textContent;document.getElementById('title').value=document.getElementById('writeTitle').textContent;document.getElementById('year').value=document.getElementById('writeYear').textContent;"-->

		<input  type="text" id="year" th:field="*{year}">

		<button type="submit" class="btn btn-primary mb-2 mr-2">Bookmark!</button>
	</form>

	<a href="/dashboard"><button type="button" class="btn btn-secondary">Cancel</button></a>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script>
		(function() {

			$(document).ready(function() {

                // document.getElementById('imdbID').value=document.getElementById('writeImdbID').textContent;
                // document.getElementById('posterLink').value=document.getElementById('writePoster').textContent;
                // document.getElementById('title').value=document.getElementById('writeTitle').textContent;
                // document.getElementById('year').value=document.getElementById('writeYear').textContent;
				//

			})
        })();
	</script>
</div>
</body>
</html>